<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tires-Project</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.4.4.min.js"></script>
    <script type="text/javascript"
            src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
</head>
<body ng-app="app" ng-cloak class="ng-cloak page-top" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"
      ng-controller="mainController as vm5">

<div class="se-pre-con"></div>
<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a style="border: none; color: white" class="navbar-brand page-scroll" href="#page-top" id="btn-pageTop">
                <i class="fa fa-home"
                   style="font-size: 50px; margin-top: -17px;color:white; text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; border: none;"></i>
            </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li class="hidden" id="li-home">
                    <a href="#page-top"></a>
                </li>
                <li id="li-tires">
                    <a class="page-scroll" href="#tires"
                       style="color: white; text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Гуми</a>
                </li>
                <li id="li-help">
                    <a class="page-scroll" href="#help"
                       style="color: white; text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Помош</a>
                </li>
                <li id="li-contact">
                    <a class="page-scroll" href="#contact"
                       style="color: white; text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Контакт</a>
                </li>
            </ul>
            <a href="#" style="float: right; color: white" id="myBtn" data-toggle="modal" data-target="#cartModal">
                <i class="fa fa-shopping-cart" aria-hidden="true"
                   style="font-size: 50px;color:white; text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"></i>
                <div class="cart-number">{{vm5.cartSize}}</div>
            </a>

        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-5" id="search" style="padding-bottom: 20px">
                    <h1 id="appearing-div"
                        style="text-align: center;color: white; text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                        Пребарај</h1>
                    <p style="color:rgba(255, 255, 255, 0.78);">Бренд на производ:</p>
                    <select style="width: 50%" class="ddl-brand" ng-model="vm5.selectedBrand"
                            ng-options="x.brandName for x in vm5.brands">
                    </select>
                    <hr style="border-top: none; background-color: rgba(255,255,255,0.25); height: 1px">
                    <div class="div3" style="padding-bottom: 20px; padding-top: 20px;">
                        <div class="width-filter">
                            <div class="div-filter-width-name">
                                Ширина:
                            </div>
                            <div class="div-filter-width">
                                <select class="ddl-width" ng-model="vm5.selectedWidth"
                                        ng-options="x.width for x in vm5.widths">
                                </select>
                            </div>
                        </div>
                        <div class="height-filter">
                            <div class="div-filter-height-name">
                                Висина:
                            </div>
                            <div class="div-filter-height">
                                <select class="ddl-height" ng-model="vm5.selectedHeight"
                                        ng-options="x.height for x in vm5.heights">
                                </select>
                            </div>
                        </div>
                        <div class="inch-filter">
                            <div class="div-filter-inch-name">
                                Инчи:
                            </div>
                            <div class="div-filter-inch">
                                <select class="ddl-inch" ng-model="vm5.selectedInch"
                                        ng-options="x.inches for x in vm5.inches">
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-lg-8" style="float: left; margin-top: 25px; text-align: left;">
                            <i>Како да ги дознаете димензиите за вашите гуми?</i>
                            <a id="myImg" href="#" class="button button-circle page-scroll">
                                <i class="fa fa-question animated" style="font-size: 20px;"></i>
                            </a>
                            <div id="myModal" class="modal">
                                <span class="close" style="color: white; font-size:30px">&times;</span>
                                <img class="modal-content img img-responsive" id="img01" src="images/measures2.jpg">
                                <div id="caption">Како да ги прочитате мерките?</div>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <a href="#tires" id="button-search" class="button button-default btn-lg page-scroll">
                                Пребарај!
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</header>
<!-- Tires -->
<section id="tires" class="container tire-section">
    <div class="row" id="row-tires">
        <div class="col-lg-3 col-lg-offset-1" id="div-filter">
            <h3>Филтрирање на приказ:</h3>
            <hr/>
            <div>
                <p style="display: inline">Сезона:</p>
                <button id="unselectSeasonType" ng-click="vm5.selectedSeasonType = ''"><i class="fa fa-close"></i>
                </button>
            </div>
            <select id="ddl-seasonType" ng-model="vm5.selectedSeasonType"
                    ng-options="x.seasonType for x in vm5.seasonTypes">
            </select>
            <div style="padding-top: 15px">
                <p style="display: inline">Бренд на производ:</p>
                <button id="unselectBrand" ng-click="vm5.selectedBrand = ''"><i class="fa fa-close"></i></button>
            </div>
            <select class="ddl-brand" ng-model="vm5.selectedBrand" ng-options="x.brandName for x in vm5.brands"
                    style="width: 100%;">
            </select>
            <div class="div3" style="padding-bottom: 20px;padding-top: 25px;">
                <div class="width-filter">
                    <div class="div-filter-width-name">
                        Ширина:
                        <button id="unselectWidth" ng-click="vm5.selectedWidth = ''"><i class="fa fa-close"
                                                                                        style="font-size: 14px;"></i>
                        </button>
                    </div>
                    <div class="div-filter-width">
                        <select class="ddl-width" ng-model="vm5.selectedWidth" ng-options="x.width for x in vm5.widths">
                        </select>
                    </div>
                </div>
                <div class="height-filter">
                    <div class="div-filter-height-name">
                        Висина:
                        <button id="unselectHeight" ng-click="vm5.selectedHeight = ''"><i class="fa fa-close"
                                                                                          style="font-size: 14px;"></i>
                        </button>
                    </div>
                    <div class="div-filter-height">
                        <select class="ddl-height" ng-model="vm5.selectedHeight"
                                ng-options="x.height for x in vm5.heights">
                        </select>
                    </div>
                </div>
                <div class="inch-filter">
                    <div class="div-filter-inch-name">
                        Инчи:
                        <button id="unselectInch" ng-click="vm5.selectedInch = ''"><i class="fa fa-close"
                                                                                      style="font-size: 14px;"></i>
                        </button>

                    </div>
                    <div class="div-filter-inch">
                        <select class="ddl-inch" ng-model="vm5.selectedInch" ng-options="x.inches for x in vm5.inches">
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" style="font-size: 11px;padding-left: 20px; padding-bottom: 15px">
                <i>Како да ги дознаете димензиите за вашите гуми?</i>
                <a id="myImg2" href="#" class="button button-circle page-scroll">
                    <i class="fa fa-question animated" style="font-size: 20px;"></i>
                </a>
                <div id="myModal2" class="modal2">
                    <span class="close2" style="color: white; font-size:30px">&times;</span>
                    <img class="modal-content2 img img-responsive" id="img02" src="images/measures2.jpg">
                    <div id="caption2">Како да ги прочитате мерките?</div>
                </div>
            </div>
        </div>
        <div class="col-lg-8" id="div2" style="height: 500px;overflow: auto;">
            <div class="row" ng-repeat="e in vm5.entities |  filter: vm5.filterFunction" style="margin: 25px 10px;">
                <div class="col-lg-3" style="margin-bottom: 25px">
                    <img ng-src="/tireImage/tire/{{e.id}}" style="height: 150px;width:150px"
                         class="img img-responsive img-circle">
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-8" style="float: left">
                            <h1>{{e.name}}</h1>
                            <span>{{e.description}}</span>
                            <br/>
                            <span>{{e.width.width}}/{{e.height.height}}/{{e.inches.inches}}</span>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button ng-click="vm5.minus()" id="button-minus" type="button"
                                            class="btn btn-danger">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input ng-model="vm5.quantity" type="text" id="quantity"
                                       class="form-control input-number" value="4" min="1" max="100">
                                <span class="input-group-btn">
                                    <button ng-click="vm5.plus()" id="button-plus" type="button"+
                                            class="btn btn-success">
                                <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4" style="float: right; padding-top: 20px; text-align: center;">
                            <div ng-show="e.onSale">
                                <span id="price">{{e.price}} ден.</span>
                                <span id="priceOnSale" class="price">{{e.priceOnSale}} ден.</span>
                            </div>
                            <div ng-show="e.onSale == false">
                        <span class="price">
                            {{e.price}} ден.
                        </span>
                            </div>
                        </div>
                    </div>

                    <button id="button-cart" class="button button-cart" ng-click="vm5.putInCart(e)">Стави во кошничка <i
                            class="fa fa-shopping-cart" aria-hidden="true"></i></button>
                </div>
                <hr style="background-color: rgba(0,0,0,0.6); height: 1px; width: 90%; margin-left: 50px">

            </div>
        </div>

    </div>
</section>
<!-- Help-->
<section id="help" class="help-section text-center container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-1" style="color: black;">
            <div class="row" style="text-align: right">
                <form action="#help" ng-submit="vm5.saveUser()" class="well form-horizontal" id="contact_form">
                    <fieldset>
                        <div class="form-group" style="height: 35px;">
                            <label class="col-md-4 control-label">Име</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input ng-model="vm5.user.contactInfo.firstName" name="first_name" placeholder="Име"
                                           class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group" style="height: 35px;">
                            <label class="col-md-4 control-label">Презиме</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    <input ng-model="vm5.user.contactInfo.lastName" name="last_name"
                                           placeholder="Презиме" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label">E-Mail</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                    <input ng-model="vm5.user.email" name="email" placeholder="E-Mail Адреса"
                                           class="form-control" type="text">
                                </div>
                            </div>
                        </div>


                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Телефонски број</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                                    <input ng-model="vm5.user.contactInfo.phone" name="phone" placeholder="912-555-112"
                                           class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Адреса</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input ng-model="vm5.user.deliveryInfo.address" name="address"
                                           placeholder="Адреса на живеење" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-4 control-label">Град</label>
                            <div class="col-md-8 inputGroupContainer">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    <input ng-model="vm5.user.deliveryInfo.city" name="city"
                                           placeholder="Град на живеење" class="form-control" type="text">
                                </div>
                            </div>
                        </div>

                        <!-- Success message -->
                        <div class="alert alert-success" role="alert" id="success_message">Success <i
                                class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to
                            you shortly.
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-7 control-label"></label>
                            <div class="col-md-4">
                                <button type="submit" class="button button-default btn-lg" style="width: 150px;">
                                    Зачувај! <span class="glyphicon glyphicon-send"></span></button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default" style="margin-bottom: -5px">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                Online-купување
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            текст за тоа како треба само информации и тел за контакт и дека стига смс порака
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: -5px">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Брза испорака
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            текст за колку време може да стигне и такви работи
                        </div>
                    </div>
                </div>
                <div class="panel panel-default" style="margin-bottom: -5px">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Начин на плаќање
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact" class="container contact-section text-center">
    <div class="row">
        <div class="col-lg-8">
            <h2>Contact</h2>
            <p>tel</p>
            <p>mail</p>
            <p>rabotno vreme</p>
        </div>
    </div>
</section>
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel">
    <div style="padding-left: 20px; padding-right: 10px; margin-top: -50px">
        <div class="row">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
        </div>
        <div class="row" ng-repeat="e in vm5.cartItems">
            <div class="row">
                <div class="col-lg-3 col-lg-offset-1">
                    <img ng-src="/tireImage/tire/{{e.tire.id}}" style="height: 50px;width:50px" class="img img-responsive img-circle">
                </div>
                <div class="col-lg-8">
                    <h4>{{e.tire.name}}</h4>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1">
                    <div class="input-group">
                        <span class="input-group-btn"><button ng-click="vm5.minusCartItem(e)" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span></button></span>
                        <input ng-model="e.quantity" type="text" class="form-control input-number" value="4" min="1" max="100" style="">
                        <span class="input-group-btn"><button ng-click="vm5.plusCartItem(e)" type="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></button></span>
                    </div>
                </div>

                <div class="col-lg-4">
                    <button class="btn btn-danger" ng-click="vm5.removeFromCart(e)">Извадете од кошничка <span class="glyphicon glyphicon-trash"></span></button>
                </div>

            </div>


            <hr style="background-color: lightgray; height: 1px; width: 90%; margin-left: 20px">
        </div>
        <p>Вкупно за плаќање: {{vm5.cart.totalPrice}}</p>
    </div>

</div>


<script src="/webjars/angularjs/1.4.9/angular.js"></script>

<script src="/webjars/angularjs/1.4.9/angular-resource.js"></script>

<script src="/webjars/angularjs/1.4.9/angular-route.js"></script>

<script src="js/app.js"></script>

<script src="js/login-controller.js"></script>

<script src="js/main-controller.js"></script>

<script src="js/main-service.js"></script>

<script src="js/user-service.js"></script>

<link rel="stylesheet" href="/webjars/bootstrap/3.3.6/css/bootstrap.css">

<!-- jQuery -->
<script src="vendor/jquery/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.10.2/validator.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="js/custom.js"></script>


</body>
</html>