<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Висина</title>
</head>
<body>
<div class="container">
    <h1>Висина</h1>
    <br/>
    <form ng-submit="vm7.save()">
        <div class="form-group">
            <label>Висина</label>
            <input class="form-control"
                   type="text"
                   ng-required="number"
                   ng-model="vm7.entity.height">
        </div>

        <input class="btn btn-primary" type="submit" value="Внеси">
    </form>

    <br/>

    <table ng-show="vm7.entities.length>0" class="table table-bordered table-striped">
        <tr>
            <th>Висина</th>
            <th></th>
        </tr>
        <tr ng-repeat="e in vm7.entities">
            <td>{{e.height}}</td>
            <td>
                <button class="btn btn-xs btn-default"
                        ng-click="vm7.edit(e)">
                    Измени
                </button>
                <button class="btn btn-xs btn-danger"
                        ng-click="vm7.remove(e)">
                    Отстрани
                </button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>