<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h1>Нарачки</h1>
        <br/>
        <table ng-show="vm9.checkouts.length>0" class="table table-bordered table-striped">
            <tr>
                <th>Контакт</th>
                <th>Информации за достава</th>
                <th>Кошничка</th>
                <th>За плаќање</th>
                <th>Статус</th>
                <th>Промени Статус</th>
                <th></th>
            </tr>
            <tr ng-repeat="e in vm9.checkouts">
                <td>
                    <p>Име: {{e.contactInfo.firstName}}</p>
                    <p>Телефон: {{e.contactInfo.phone}}</p>
                </td>
                <td>
                    <p>Адреса: {{e.deliveryInfo.address}}</p>
                    <p>Град: {{e.deliveryInfo.city}}</p>
                </td>
                <td>
                    <div ng-repeat="c in vm9.cartItems" ng-show="c.cart.id==e.cart.id">
                        <span>{{c.tire.name}}</span><br/>
                        <span>{{c.tire.description}}</span>
                        <hr style="background: darkgray;height: 1px; margin-top: 10px;margin-bottom: 10px">
                    </div>
                </td>
                <td>{{e.cart.totalPrice}} ден</td>
                <td>{{e.status}}</td>

                <td>
                    <button class="btn btn-xs btn-default" ng-click="">ISSUED</button><br/>
                    <button class="btn btn-xs btn-success" ng-click="">PAYED</button><br/>
                    <button class="btn btn-xs btn-warning" ng-click="">EXPIRED</button>
                </td>
                <td>
                    <button class="btn btn-xs btn-danger" ng-click="vm9.remove(e)">Отстрани</button>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>